<div class = "login-container-box">
    <div class = "login-container">
        <div class = "login-form-box">
            <h2 class = "login-title">ログイン</h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form'}) do |f| %>
                <div class="field">
                    <%= f.label :メールアドレス %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'text-field'%>
                </div>

                <div class="field">
                    <%= f.label :パスワード %><br />
                    <%= f.password_field :password, autocomplete: "current-password", class: 'text-field' %>
                </div>

                <% if devise_mapping.rememberable? %>
                    <div class="field">
                        <%= f.check_box :remember_me, class: "check-box" %>
                        <%= f.label :remember_me, "ログインしたままにする" %>
                    </div>
                <% end %>

                <div class="actions">
                    <%= f.submit "ログイン", class: 'actions-btn' %>
                </div>
            <% end %>
            <div class = "sign-up-link">
                <%= render "accounts/shared/links" %>
            </div>
        </div>
    </div>
</div>