<table class="table">
<thead>
    <tr>
    <th>cooking_name</th>
    <th>ingredients</th>
    <th>cooking_recipe</th>
    <th>user_id</th>
    </tr>
</thead>

<tbody>
    <% @cookposts.each do |cookpost| %>
    <tr>
        <td><%= cookpost.cooking_name %></td>
        <td><%= cookpost.ingredients %></td>
        <td><%= cookpost.cooking_recipe %></td>
        <td><%= cookpost.user_id %></td>
    </tr>
    <% end %>
</tbody>

<%= link_to "料理投稿", cookposts_path %>