<div class = "cooks-container">
    <% @cookposts.each do |cookpost| %>
        <div class = "section-cookpost">
            <a href = "/show/<%= cookpost.id %>">
                <h2 class = "cooking-name"><%= cookpost.cooking_name %></h2>
                <p>
                    <% cookpost.images.each do |image| %>
                        <%= image_tag image.to_s, width: '30%', height: '30%' %>
                    <% end %>
                </p>
            </a>
            <a href = "users/show/<%= cookpost.user.id %>">
                <p class = "cooking-nickname">by <%= cookpost.user.nickname %></p>
            </a>
            <p id = "likes_buttons_<%= cookpost.id %>">
                <%= render partial: 'likes/like', locals: {cookpost: cookpost} %>
            </p>
        </div>
    <% end %>
    <div class = "navigate">
        <div class = "paginate"><%= paginate @cookposts %></div>
    </div>
</div>