<div class = "cooks-container">
    <% @cookposts.each do |cookpost| %>
        <div class = "section-cookpost">
            <h2 class = "my-cooking-name"><%= cookpost.cooking_name %></h2>

            <div class = "modal-wrapper">
                <img src="" alt="" class="modal-image">
            </div>

            <div class = "wrapper">
                <% cookpost.images.each do |image| %>
                    <%= image_tag image.to_s, width: '30%', height: '30%', class: "image", data: { src: image.to_s} %>
                <% end %>
            </div>
            <h3 class = "cooking-ingredients-title">材料</h3>
            <%= simple_format(cookpost.ingredients, class: 'cooking-ingredients') %>

            <h3 class = "cooking-recipe-title">レシピ</h3>
            <%= simple_format(cookpost.cooking_recipe, class: 'cooking-recipe') %>
            
            <a href = "/users/show/<%= cookpost.user.id %>">
                <p class = "cooking-nickname">by <%= cookpost.user.nickname %></p>
            </a>
            <p id = "likes_buttons_<%= cookpost.id %>" style = "display:inline-block;">
                <%= render partial: 'likes/like', locals: {cookpost: cookpost} %>
            </p>
            <i class="far fa-comment"></i><p class = "comment-number"><%= cookpost.comments.count %></p>
        </div>
        <div class = "comment-area">
            <h2 class = "commet-title">コメント</h2>
            <% if cookpost.comments.count == 0 %>
                <p class = "comment-text">まだ投稿がありません</p>
            <% else %>
                <div class = "comment-box">
                    <% @comments_view.each do |comment| %>
                        <div class = "comment-container">
                            <p class = "comment-text"><a href = "/users/show/<%= comment.user.id %>">@<%= comment.user.nickname %></a></p>
                            <div class = "comment-container-box">
                                <%= simple_format(comment.content, class: 'comment-space') %>
                                <% if comment.user_id == current_account.id %>
                                    <%= link_to comment_path(comment.id), :method => :delete do %>
                                        <i class="fas fa-trash-alt"></i> 
                                    <% end %>
                                <% end %>
                            </div>
                            <hr>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
        <%= paginate @comments_view %>
        <% if @comments_view.size > 10 %>
            <div class = "page-load-status">
                <p class = "infinite-scroll-request">
                    ...読み込み中
                </p>
                <p class = "infinite-scroll-error">
                    読み込みできませんでした。
                </p>
            </div>
        <% end %>
        <div>
            <%= render partial: 'comments/form', locals: {cookpost: cookpost} %>
        </div>
    <% end %>
    
</div>
<script>

    $(document).on('turbolinks:load', function() {
        $(function() {
            $('.image').on('click', function() {
                    $(this).parent("div").prev("div").addClass('show');
                    $(this).parent("div").prev("div").children("img").addClass('show');
                    var imageSrc = $(this).attr('src');
                    $(this).parent("div").prev("div").children("img").attr('src', imageSrc);
            });
            $('.modal-wrapper').on('click', function(){
                if (this.classList.contains('show')) {
                    this.classList.remove('show');
                    $(this).children("img").removeClass('show');
                }
            })
            $('.fa-times-circle').on('click', function() {
                $('#message').addClass('hide-message');
            })
        });
        if ($("nav.pagination a[rel=next]").length){
            $(".comment-area").infiniteScroll({
              path: "nav.pagination a[rel=next]",
              append: ".comment-box",
              prefill: false,
              history: false,
              hideNav: "nav.pagination",
              status: '.page-load-status'
            })
        }
    });

</script>