<% if @user[0] != nil %>
    <div class = "cooks-container">
        <% @user.each do |user| %>

            <h1 class = "user-nickname">
                <%= user.nickname %>
            </h1>

            <ul class = "user-menu">
                <li class = "user-menu-list">設定<i class="fas fa-sort-down user-menu-fa-down"></i></li>
                <li class = "user-menu-hide"><a href = "/users/edit/<%= user.account_id %>">編集</a></li>
                <li class = "user-menu-hide"><a href = "javascript:delData(<%= user.account_id %>);">退会</a></li>
                <li class = "user-menu-hide"><%= link_to 'ログアウト', destroy_account_session_path, method: :delete %></li>
            </ul>
        
            <hr>

            <p class = "user-profile-text">
                -紹介文-
            </p>
            <%= simple_format(user.profile, class: "user-profile") %>
            <hr>

        <% end %>
        <% if @cookposts[0] != nil %>
        <% @cookposts.each do |cookpost| %>
            <div class = "section-cookpost-users">
                <h2 class = "my-cooking-name"><%= cookpost.cooking_name %></h2>

                <ul class = "user-menu-2">
                    <li class = "user-menu-list-2">設定<i class="fas fa-sort-down user-menu-fa-down-2"></i></li>
                    <li class = "user-menu-hide-2"><a href = "/cookposts/<%= cookpost.id %>">編集</a></li>
                    <li class = "user-menu-hide-2"><a href = "javascript:deldelData(<%= cookpost.id %>);">削除</a></li>
                </ul>

                <div class = "modal-wrapper">
                    <img src="" alt="" class="modal-image">
                </div>

                <div class = "wrapper">
                    <% cookpost.images.each do |image| %>
                        <%= image_tag image.to_s, width: '30%', height: '30%', class: "image", data: { src: image.to_s} %>
                    <% end %>
                </div>
                <h3 class = "cooking-ingredients-title">材料</h3>
                <%= simple_format(cookpost.ingredients, class: 'cooking-ingredients') %>

                <h3 class = "cooking-recipe-title">レシピ</h3>
                <%= simple_format(cookpost.cooking_recipe, class: 'cooking-recipe') %>


                <p>
                    <i class="fas fa-star"></i> <%= cookpost.likes.length %>
                </p>
                <hr>
            </div>
        <% end %>
        <div class = "navigate">
            <div class = "paginate"><%= paginate @cookposts %></div>
        </div>
        <% else %>
            <p class = "my-post">まだ投稿がありません</p>
        <% end %>
    </div>
<% else %>
    <div class = "my-profile-cansel">
        <p class = "cansel-text">ユーザー設定されていません。</p>
        <p class = "cansel-text2">ユーザー設定完了するまで投稿できません</p>
        <%= link_to 'ユーザー設定へ', users_new_path %><br>
        <%= link_to 'ホームへ', root_path %>
    </div>
<% end %>


<script>
    function delData(num) {
        if (confirm('アカウントを削除しますか？削除すると元に戻すことはできません。')) {
            document.location = "/users/destroy/" + num;
        }
        return false;
    }
    function deldelData(num) {
        if (confirm('投稿を削除しますか？削除すると元に戻すことはできません。')) {
            document.location = "/cookposts/destroy/" + num;
        }
        return false;
    }



    $(document).on('turbolinks:load', function() {
        $(function() {
            $('.image').on('click', function() {
                $(this).parent("div").prev("div").addClass('show');
                $(this).parent("div").prev("div").children("img").addClass('show');
                var imageSrc = $(this).attr('src');
                $(this).parent("div").prev("div").children("img").attr('src', imageSrc);
            });
            $('.modal-wrapper').on('click', function(){
                if (this.classList.contains('show')) {
                    this.classList.remove('show');
                    $(this).children("img").removeClass('show');
                }
            })
            $('.user-menu-list').on('click', function() {
                $('.user-menu-hide:not(:animated)').slideToggle();
                $('.user-menu-fa-down').toggleClass('fa-active');

            })
            $('.user-menu-list-2').on('click', function() {
                $('.user-menu-hide-2:not(:animated)').slideToggle();
                $('.user-menu-fa-down-2').toggleClass('fa-active');

            })
            $('.fa-times-circle').on('click', function() {
                $('#message').addClass('hide-message');
            })
        });
    });
</script>