% if @user[0] != nil %>
<div class = "cooks-container">
    <% @user.each do |user| %>

        <h1 class = "user-nickname">
            <%= user.nickname %>
        </h1>
        <span class = "edit-path"><a href = "/users/edit/<%= user.account_id %>">編集</a></span>
        <span class = "delete-path"><a href = "javascript:delData(<%= user.account_id %>);">削除</a></span>
        <span class = "log-out-path"><%= link_to 'ログアウト', destroy_account_session_path, method: :delete %></span>
        <hr>

        <p class = "user-profile-text">
            -紹介文-
        </p>
        <%= simple_format(user.profile, class: "user-profile") %>
        <hr>

    <% end %>
    <% if @cookposts[0] != nil %>
    <% @cookposts.each do |cookpost| %>
        <div class = "section-cookpost-users">
            <h2 class = "my-cooking-name"><%= cookpost.cooking_name %></h2>
            <span class = "edit-path"><a href = "/cookposts/<%= cookpost.id %>">編集</a></span>
            <span class = "delete-path" ><a href = "javascript:deldelData(<%= cookpost.id %>);">削除</a></span>
            <p>
                <% cookpost.images.each do |image| %>
                    <%= image_tag image.to_s, width: '30%', height: '30%' %>
                <% end %>
            </p>
            <h3 class = "cooking-ingredients-title">材料</h3>
            <%= simple_format(cookpost.ingredients, class: 'cooking-ingredients') %>

            <h3 class = "cooking-recipe-title">レシピ</h3>
            <%= simple_format(cookpost.cooking_recipe, class: 'cooking-recipe') %>


            <p>
            <i class="fas fa-star"></i> <%= cookpost.likes.length %>
            </p>
            <hr>
        </div>
    <% end %>
    <div class = "navigate">
      <div class = "paginate"><%= paginate @cookposts %></div>
    </div>
    <% else %>
    <p class = "my-post">まだ投稿がありません</p>
    <% end %>
</div>
<% else %>
<div class = "my-profile-cansel">
    <p class = "cansel-text">ユーザー設定されていません。</p>
    <p class = "cansel-text2">ユーザー設定完了するまで投稿できません</p>
    <%= link_to 'ユーザー設定へ', users_new_path %><br>
    <%= link_to 'ホームへ', root_path %>
</div>
<% end %>


<script>
function delData(num) {
    if (confirm('アカウントを削除しますか？削除すると元に戻すことはできません。')) {
        document.location = "/users/destroy/" + num;
    }
    return false;
}
function deldelData(num) {
    if (confirm('投稿を削除しますか？削除すると元に戻すことはできません。')) {
        document.location = "/cookposts/destroy/" + num;
    }
    return false;
}
</script>