<div class = "cooks-container">

    <h1 class = "user-nickname">
        <%= @user.nickname %>
    </h1>
    <hr>

    <p class = "user-profile-text">
        -紹介文-
    </p>
    <%= simple_format(@user.profile, class: 'user-profile') %>
    <hr>
    <% if @cookposts[0] != nil %>
        <% @cookposts.each do |cookpost| %>
            <div class = "section-cookpost-users">
                <h2 class = "my-cooking-name"><%= cookpost.cooking_name %></h2>

                <div class = "modal-wrapper">
                    <img src="" alt="" class="modal-image">
                </div>

                <div class = "wrapper">
                    <% cookpost.images.each do |image| %>
                        <%= image_tag image.to_s, width: '30%', height: '30%', class: "image", data: { src: image.to_s} %>
                    <% end %>
                </div>
                <h3 class = "cooking-ingredients-title">材料</h3>
                <%= simple_format(cookpost.ingredients, class: 'cooking-ingredients') %>

                <h3 class = "cooking-recipe-title">レシピ</h3>
                <%= simple_format(cookpost.cooking_recipe, class: 'cooking-recipe') %>


                <p id = "likes_buttons_<%= cookpost.id %>">
                    <%= render partial: 'likes/like', locals: {cookpost: cookpost} %>
            　　 </p>
                <hr>
            </div>
        <% end %>
        <div class = "navigate">
            <div class = "paginate"><%= paginate @cookposts %></div>
        </div>
    <% else %>
        <p class = "my-post">まだ投稿がありません</p>
    <% end %>
</div>
<script>
    $(document).on('turbolinks:load', function() {
        $(function() {
            $('.image').on('click', function() {
                $(this).parent("div").prev("div").addClass('show');
                $(this).parent("div").prev("div").children("img").addClass('show');
                var imageSrc = $(this).attr('src');
                $(this).parent("div").prev("div").children("img").attr('src', imageSrc);
            });
            $('.modal-wrapper').on('click', function(){
                if (this.classList.contains('show')) {
                    this.classList.remove('show');
                    $(this).children("img").removeClass('show');
                }
            })
        });
    });
</script>
