<p>※このメールは自動送信メールです。</p>

<p><%= @email %> 様</p>


<p>パスワードが変更されたことをお知らせいたします。</p>
<p>今後ともよろしくお願いいたします。</p>


<p>※お問い合わせは下記のメールアドレスからお願いいたします。</p>

<p>
覚えがないのにこのメールが届いたという方<br>
ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。<br>
</p>
<p><%= ENV['MAIL_USERNAME'] %></p>

<p>――――――――――――――――――――――――――――――</p>
<p>料研</p>
URL ： <%= ENV['WEB_PROTOCOL'] %>://<%= ENV['WEB_HOST'] %><br>
Mail ： <%= ENV['MAIL_USERNAME'] %><br>
<p>――――――――――――――――――――――――――――――</p>
