<table class="table">
<thead>
    <tr>
    <th>cooking_name</th>
    <th>ingredients</th>
    <th>cooking_recipe</th>
    <th>nickname</th>
    <th>image</th>
    </tr>
</thead>

<tbody>
    <% @cookposts.each do |cookpost| %>
    <tr>
        <td><%= cookpost.cooking_name %></td>
        <td><%= cookpost.ingredients %></td>
        <td><%= cookpost.cooking_recipe %></td>
        <td><%= cookpost.user.nickname %></td>
        <td>
            <% cookpost.images.each do |image| %>
                <%= image_tag image.to_s %>
            <% end %>
        </td>
        <td>
             <i class="fas fa-thumbs-up"></i>
        </td>
        <td>
            <%= cookpost.likes.length %>
        </td>
        <td><a href = "/cookposts/<%= cookpost.id %>">編集</a></td>
        <td><a href = "javascript:delData(<%= cookpost.id %>);">削除</a></td>
    </tr>
    <% end %>
</tbody>

<%= link_to "料理投稿", cookposts_new_path %>
<%= link_to "ユーザー設定", 
<script>
function delData(num) {
    if (confirm('この投稿を削除しますか？')) {
        document.location = "/cookposts/destroy/" + num;
    }
    return false;
}
</script>