<!DOCTYPE html>
<html>
  <head>
    <title>Ryoken</title>
    <%= favicon_link_tag('9399d296f9198a1e99488add370317b5_xxo.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'cooks', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/424ac5601c.js" crossorigin="anonymous"></script>
  </head>

  <body class = "body">
    <%= yield %>
  </body>
</html>